body{
	padding: 5px; 
	margin: 0; 
	background: black;
}
#canvas
	 {
	  background: gray; 
	  display:block;
   
    margin:0 auto;
	}
#progress{
    border: 2px solid grey;
    margin-left: 129px;
	
	}
